@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(250.31deg, #FAFFFF -2.65%, #FFF2CC -2.64%, rgba(255, 255, 255, 0.815133) 19.46%, rgba(227, 253, 255, 0.61152) 47.25%, rgba(255, 255, 255, 0.789509) 72.3%, #FFEAEA 101.94%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New','Prompt'
    monospace;
}

