/* 1    :root can be useful for declaring global CSS variables: */
:root {
    --font-color: #333;
    --background-color: #eee;
    --link-color: cornflowerblue;
  }
  
  
  [data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
    
  }
  
  body {
    background-color: var(--background-color);
    color: var(--font-color);
  }
  
  a {
    color: var(--link-color);
  }
  
.container-preview {
border : 2px solid white;


}